<nav class="horizontal-navbar">
    <img class="horizontal-navbar__logo" src="../../assets/airbnb-logo.png" />
    <div class="horizontal-navbar__menu">
        <div class="horizontal-navbar__menu__links">
            <a headerHoverEffect href="" class="horizontal-navbar__menu__links__link horizontal-navbar__menu__links__link-active">Alojamientos</a>
            <a headerHoverEffect href="" class="horizontal-navbar__menu__links__link">Experiencias</a>
            <a headerHoverEffect href="" class="horizontal-navbar__menu__links__link">Experiencias online</a>
        </div>
    </div>
    <div class="horizontal-navbar__user"><app-header-user/></div>
    <div class="horizontal-navbar__menu__searchbar"><app-header-searchbar/></div>

</nav>
<hr class="horizontal-navbar__spacer">