.horizontal-navbar{
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 2%;
margin-right: 2%;
flex-wrap: wrap;
gap: 30px;
}
.horizontal-navbar__spacer{
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0.3;
}
.horizontal-navbar__logo{
max-width: 120px;
max-height: 40px;
flex-grow: 1;
order: 1;
}

.horizontal-navbar__menu{
    flex-grow: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:large;
    order: 2;

}

.horizontal-navbar__menu__links{
display: flex;
white-space: nowrap;
margin-left: 10%;
}
.horizontal-navbar__menu__links__link{
margin-left: 2%;
margin-right: 2%;
text-decoration: none;
color: grey;
padding: 10px;
border-radius: 30px;
}
.horizontal-navbar__menu__links__link-active{
color: rgba(0, 0, 0, 0.74);
font-weight: 500;
    }

.horizontal-navbar__menu__searchbar{
margin-left: 25%;
flex-basis: 50%;
order: 4;

}

.horizontal-navbar__user{
    flex-grow: 1;
    order: 3;

}

@media (max-width: 1310px) {
    .horizontal-navbar__menu__searchbar{
        margin-left: 20%;
        flex-basis: 60%;
        }  
}

@media (max-width: 1120px) {
    .horizontal-navbar__menu__searchbar{
        margin-left: 15%;
        flex-basis: 70%;
        }  
    .horizontal-navbar__menu__links{
        margin-left: 0%;
        }
}

@media (max-width: 1000px) {
    .horizontal-navbar__menu__searchbar{
        margin-left: 2.5%;
        flex-basis: 95%;
        }  

    .horizontal-navbar__logo{
        order: 1;
    }
    .horizontal-navbar__menu{
        order: 3;

    }
    .horizontal-navbar__user{
        order: 2;
    }
}
@media (max-width: 560px) {
    .horizontal-navbar__menu__searchbar{
        margin-left: 0%;
        flex-basis: 80%;
        }  

    .horizontal-navbar__logo{
        display: none;
    }
    .horizontal-navbar__menu{
        display: none;

    }
    .horizontal-navbar__user{
        display: none;
    }
}