<div class="header-searchbar">
    <div class="header-searchbar__container">
        @if (!mobileView()) {
            <div class="header-searchbar__container__element header-searchbar__container__element__first">
                <label class="header-searchbar__container__label" for="to">Destino:</label>
                <div class="header-searchbar__container__text header-searchbar__container__to">Buscar destinos</div>
            </div>
            <div class="header-searchbar__container__vertical-div"></div>
            <div class="header-searchbar__container__element">
                <label class="header-searchbar__container__label" for="arrive-time">Hora de llegada:</label>
                <div class="header-searchbar__container__text header-searchbar__container__arrive-time">Introduce la...</div>
            </div>
            <div class="header-searchbar__container__vertical-div"></div>
            <div class="header-searchbar__container__element">
                <label class="header-searchbar__container__label" for="leave-time">Hora de salida:</label>
                <div class="header-searchbar__container__text header-searchbar__container__leave-time">Introduce la...</div>
            </div>
            <div class="header-searchbar__container__vertical-div"></div>
            <div class="header-searchbar__container__element header-searchbar__container__element__last">
                <label class="header-searchbar__container__label" for="passengers">Pasajeros:</label>
                <div class="header-searchbar__container__text header-searchbar__container__passengers">Añade viajeros</div>
            </div>
          } @else {
            <div class="header-searchbar__container__element header-searchbar__container__element__mobile">
                <label class="header-searchbar__container__element__mobile__label" for="header-searchbar__container__element__mobile__text">¿Dónde quieres ir?</label>
                <div class="header-searchbar__container__element__mobile__text">Cualquier lugar · Cualquier semana · Añade viajeros</div>
            </div>
          } 

        <button class="header-searchbar__container__search-button">
            @if (!mobileView()) {
            <svg class="header-searchbar__container__search-button__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4; overflow: visible; color:white;"><path fill="none" d="M13 24a11 11 0 1 0 0-22 11 11 0 0 0 0 22zm8-3 9 9"></path></svg>
            }
            @else{
                <svg class="header-searchbar__container__search-button__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 20px; width: 20px; stroke: currentcolor; stroke-width: 4; overflow: visible; color:rgb(0, 0, 0);"><path fill="none" d="M13 24a11 11 0 1 0 0-22 11 11 0 0 0 0 22zm8-3 9 9"></path></svg>
            }
        </button>
    </div>
</div>
