.header-searchbar__container{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 60px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-searchbar__container__search-button{
    border-radius: 100%;
    padding: 16px;
    background: linear-gradient(90deg, rgba(254,21,96,1) 19%, rgba(227,20,65,1) 72%);
    border: 0;
    position: absolute;
    right: 4px;
}

.header-searchbar__container__search-button__svg{
}

.header-searchbar__container__label{
font-size: small;
font-weight: 500;
}
.header-searchbar__container__text{
    color: rgb(70, 70, 70);
}
.header-searchbar__container__vertical-div{
    width: 1px;
    height: 20px;
    background-color: rgb(126, 122, 122);
}
.header-searchbar__container__element{
    width: 100%;
    border-radius: 30px;
    padding: 12px;
}
.header-searchbar__container__element:hover{
    background-color: rgba(189, 189, 189, 0.39);
}
.header-searchbar__container__element__first{
    padding-left: 50px;
}
.header-searchbar__container__element__last{
    padding-right: 50px;
}


@media (max-width: 730px) {
    .header-searchbar__container__label{
        font-size: 11px;
    }
    .header-searchbar__container{
        font-size: 13px;
    }
    .header-searchbar__container__search-button{
        background: none;
        left: 4px;
    }
    .header-searchbar__container__element__mobile{
        margin-left: 35px;
        text-overflow: ellipsis;
    }
}